/************ Blanc ************/
// gris blanc
$white: #f6f4ec;
$darkerwhite: #eae7dd;
$fullwhite: #ffffff;
/************ BLEU ************/
// bleu foncé
$darkblue: #0c3952;

/************ Noir ************/
$almost-black: #202020;
$black: #000000;
