/************ Blanc ************/
// gris blanc
$white: #f6f4ec;
$darkerwhite: #adaca8;
$fullwhite: #ffffff;
/************ BLEU ************/
// bleu foncé
$darkblue: #181745;

/************ Noir ************/
$almost-black: #202020;
$black: #000000;
