/************ Blanc ************/
// gris blanc
$white: #f6f4ec;
$darkerwhite: #adaca8;
$fullwhite: #ffffff;
/************ BLEU ************/
// bleu foncé
$darkblue: #181745;
$blue: #216c91;

/************ Noir ************/
$almost-black: #202020;
$black: #000000;

/************ Vert ************/
$turquoise: #58e1c1;
