/*
.highcharts-title {
  fill: #434348;
  font-weight: bold;
  text-align: center;
}

.highcharts-subtitle {
  font-family: 'Courier New', monospace;
  font-style: italic;
  fill: #7cb5ec;
}

.highcharts-caption {
  font-family: 'Courier New', monospace;
  font-style: italic;
  fill: green;
}
 */
.highcharts {
  &-link {
    fill: #ffff;
  }

  &-title {
    fill: #434348;
    font-weight: bold;
    text-align: center;
  }

  &-subtitle {
    font-family: 'Courier New', monospace;
    font-style: italic;
    fill: #7cb5ec;
  }
  &-caption {
    font-family: 'Courier New', monospace;
    font-style: italic;
    fill: green;
  }
}
